<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/classic.css'/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


    <div class="navbar"><span class="boardList"> / <a href="/b" class="navbar_anchor">b</a> / <a href="/lit" class="navbar_anchor">lit</a> / <a href="/his" class="navbar_anchor">his</a> / <a href="/mu" class="navbar_anchor">mu</a> / <a href="/pol" class="navbar_anchor">pol</a> / </span> <span class="navbarRight">[<a id="delete1" class="navbar_anchor">Delete</a>] [<a class="navbar_anchor optionsLink">Options</a>]</span> </div>
    <div class="boardBanner">
      <img alt="Jugochan" src="/images/<%=board%>_banner.jpg" class="boardBannerImage">
      <div class="boardTitle">

        <%
        let board_title;
        switch (board) {
          case 'b':
            board_title = '/b/ - Općenito';
            break;
          case 'his':
            board_title = '/his/ - Historija';
            break;
          case 'lit':
            board_title = '/lit/ - Literatura';
            break;
          case 'mu':
            board_title = '/mu/ - Muzika';
            break;
          case 'pol':
            board_title = '/pol/ - Politika';
            break;
        }%>
        <%=board_title%>
      </div>
    </div>

    <div id="togglePostFormLink">
      <span id="postLinkSpan"> [ <a id="post_link">Napravi Novi Thread </a> ] </span>
      <form id="post_form" action="/<%=board%>/post" method="post" enctype="multipart/form-data">
        <table>
          <tbody>
          <tr>
            <td class="labels">
              Username
            </td>
            <td>
              <input name="username" id="username" type="text">
            </td>
          </tr>
          <tr>
            <td class="labels">
              Tema
            </td>
            <td>
              <input name="topic" id="topic" type="text">
              <button type="submit">Objavi</button>
            </td>
          </tr>
          <tr>
            <td class="labels">
              Tekst
            </td>
            <td style="display: flex; flex-wrap: wrap; flex-direction: column;">
              <textarea name="text" id="text" cols="36" rows="4" wrap="soft"></textarea>
              <!--<span id="textareaErrorMessage"></span>-->
            </td>
          </tr>
          <tr>
            <td class="labels">
              File
            </td>
            <td>
              <input name="uploaded_file" id="file" type="file">
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>



    <div id="navLinksTop">
      [<a href="/<%=board%>/katalog">Katalog</a>]
      [<a href="/<%=board%>/arhiva">Arhiva</a>]
      [<a href="#navLinksBottom">Bottom</a>]
      [<a href="/<%=board%>">Update</a>]
    </div>

    <div id="threads">

      <%let repliesNumber = replies.length;%>
      <%let RepliesToIds = new Map();%>

      <% for (let i = 0; i < threads.length; i++) { %>
      <!--Bilo je id="thread(ovaj kod sa [i])! Pazi!-->
      <div id="thread<%=threads[i].id%>" class="opThread post_div thread" data-expanded="false">
        <div id="<%=threads[i].id%>" class="opThread">

          <div class="file">
            <div class="fileText">
              File:  <a href="/image/<%=threads[i].image_link%>" target="_blank"><%=threads[i].image_link%></a>
            </div>
            <a href="/image/<%=threads[i].image_link%>" target ="_blank" onclick="return handleClick(event)">
              <img onclick="toggleImageSize(this)" class="threadImage imageBeforeClick" src="/images/<%=threads[i].image_link%>">
            </a>
          </div>

          <input type="checkbox" id="ch<%=threads[i].id%>" value="t-<%=threads[i].id%>">
          <span class="thread_subject"><%=threads[i].thread_topic %> </span>
          <span class="post_username"><b><%=threads[i].username%></b> <%if(threads[i].tripcode != null){%><%='!' + threads[i].tripcode%><%}%></span>
          <%
            // Convert the string into a JavaScript Date object
            let dateObj = new Date(threads[i].created_at);

            // Get the day of the week (e.g. "Sunday", "Monday", etc.) as a string
            let dayOfWeek = dateObj.toLocaleString("en-US", { weekday: "long" });

            // Format the date and time string as "YYYY-MM-DD (Day of the week) HH:MM:SS"
            let formattedDateTime = dateObj.toLocaleString("en-US", {
              year: "numeric",
              month: "2-digit",
              day: "2-digit",
              hour: "2-digit",
              minute: "2-digit",
              second: "2-digit"
            }) + ` (${dayOfWeek})`;
          %>
          <span class="post_time"><%=formattedDateTime %></span>
          <a class="post_id" data-id="<%=threads[i].id%>" href="/<%=threads[i].board%>/thread/<%=threads[i].id%>">No. <%=threads[i].id%></a>
          <span id="tags<%=threads[i].id%>" class="allTags"></span>
          <blockquote class="postMessage"><%=threads[i].text%></blockquote>

        </div>
        <%let matchingReplies = replies.filter(reply => reply.post_id === threads[i].id);%>
        <%if(matchingReplies.length > 5) {%>
          <a class="expand" onclick="showReplies(this)">[Show Replies]</a>
        <%}%>
        <div class="thread_replies_minus_five">
          <%
            let num_of_last_replies;
            switch (matchingReplies.length - 5) {
              case -5:
                num_of_last_replies = 0;
                break;
              case -4:
                num_of_last_replies = 1;
                break;
              case -3:
                num_of_last_replies = 2;
                break;
              case -2:
                num_of_last_replies = 3;
                break;
              case -1:
                num_of_last_replies = 4;
                break;
              default:
                num_of_last_replies = 5;
                break
            }
          %>

          <%for (let j = 0; j < matchingReplies.length-num_of_last_replies; j++) {%>


            <div id="<%= matchingReplies[j].id %>" class="thread_reply post_div reply_div" data-hidden="true">

              <%if(matchingReplies[j].image_link != null){%>

              <div class="file">
                <div class="fileText">
                  File:  <a href="/image/<%=matchingReplies[j].image_link%>" target="_blank"><%=matchingReplies[j].image_link%></a>
                </div>
                <a href="/image/<%=matchingReplies[j].image_link%>" target ="_blank" onclick="return handleClick(event)">
                  <img alt onclick="toggleImageSize(this)" class="imageBeforeClick" src="/images/<%=matchingReplies[j].image_link%>">

                </a>
              </div>

              <%}%>
                <input type="checkbox" id="ch<%=matchingReplies[j].id%>" value="<%=matchingReplies[j].id%>" data-cookie="<%=matchingReplies[j].cookie%>">
              <%if(matchingReplies[j].username){%>
                <span id="reply_username<%=matchingReplies[j].id%>" class="post_username"><b><%=matchingReplies[j].username%></b> <%if(matchingReplies[j].tripcode != null){%><%='!' + matchingReplies[j].tripcode%><%}%></span>
              <%}else{%>
                <span id="reply_username<%=matchingReplies[j].id%>" class="post_username"><b>Anoniman</b> <%if(matchingReplies[j].tripcode != null){%><%='!' + matchingReplies[j].tripcode%><%}%></span>
              <%}%>

              <%
                // Convert the string into a JavaScript Date object
                let dateObj = new Date(matchingReplies[j].created_at);

                // Get the day of the week (e.g. "Sunday", "Monday", etc.) as a string
                let dayOfWeek = dateObj.toLocaleString("en-US", { weekday: "long" });

                // Format the date and time string as "YYYY-MM-DD (Day of the week) HH:MM:SS"
                let formattedDateTime = dateObj.toLocaleString("en-US", {
                  year: "numeric",
                  month: "2-digit",
                  day: "2-digit",
                  hour: "2-digit",
                  minute: "2-digit",
                  second: "2-digit"
                }) + ` (${dayOfWeek})`;

              %>
              <span class="post_time"><%=formattedDateTime %></span>
              <a class="post_id" data-id="<%=matchingReplies[j].id%>" href="/<%=threads[i].board%>/thread/<%=threads[i].id%>">No. <%=matchingReplies[j].id%></a>
              <span id="tags<%=matchingReplies[j].id%>" class="allTags"></span>
              <blockquote id="reply_text<%=i%>" class="postMessage"><%=matchingReplies[j].text%></blockquote>

              <%RepliesToIds.set(matchingReplies[j].id,threads[i].id)%>

            </div>
          <%}%>
        </div>

        <div class="last_five">

          <%for (let j = matchingReplies.length-num_of_last_replies; j < matchingReplies.length; j++) {%>
          <div id="<%= matchingReplies[j].id %>" class="thread_reply post_div reply_div">
            <input type="checkbox" id="ch<%=matchingReplies[j].id%>" value="<%=matchingReplies[j].id%>" data-cookie="<%=matchingReplies[j].cookie%>">

            <%if(matchingReplies[j].image_link != null){%>

            <div class="file">
              <div class="fileText">
                File:  <a href="/image/<%=matchingReplies[j].image_link%>" target="_blank"><%=matchingReplies[j].image_link%></a>
              </div>
              <a href="/image/<%=matchingReplies[j].image_link%>" target ="_blank" onclick="return handleClick(event)">
                <img alt onclick="toggleImageSize(this)" class="imageBeforeClick" src="/images/<%=matchingReplies[j].image_link%>">
              </a>
            </div>

            <%}%>
            <input type="checkbox" id="ch<%=matchingReplies[j].id%>" value="<%=matchingReplies[j].id%>" data-cookie="<%=matchingReplies[j].cookie%>">
            <%if(matchingReplies[j].username){%>
            <span id="reply_username<%=matchingReplies[j].id%>" class="post_username"><b><%=matchingReplies[j].username%></b> <%if(matchingReplies[j].tripcode != null){%><%='!' + matchingReplies[j].tripcode%><%}%></span>
            <%}else{%>
            <span id="reply_username<%=matchingReplies[j].id%>" class="post_username"><b>Anoniman</b> <%if(matchingReplies[j].tripcode != null){%><%='!' + matchingReplies[j].tripcode%><%}%></span>
            <%}%>

            <%
              // Convert the string into a JavaScript Date object
              let dateObj = new Date(matchingReplies[j].created_at);

              // Get the day of the week (e.g. "Sunday", "Monday", etc.) as a string
              let dayOfWeek = dateObj.toLocaleString("en-US", { weekday: "long" });

              // Format the date and time string as "YYYY-MM-DD (Day of the week) HH:MM:SS"
              let formattedDateTime = dateObj.toLocaleString("en-US", {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
                hour: "2-digit",
                minute: "2-digit",
                second: "2-digit"
              }) + ` (${dayOfWeek})`;

            %>
            <span class="post_time"><%=formattedDateTime %></span>
            <a class="post_id" data-id="<%=matchingReplies[j].id%>" href="/<%=threads[i].board%>/thread/<%=threads[i].id%>">No. <%=matchingReplies[j].id%></a>
            <span id="tags<%=matchingReplies[j].id%>" class="allTags"></span>
            <blockquote id="reply_text<%=i%>" class="postMessage"><%=matchingReplies[j].text%></blockquote>

            <%RepliesToIds.set(matchingReplies[j].id,threads[i].id)%>

          </div>
          <%}%>
        </div>
      </div>

      <%RepliesToIds.set(threads[i].id,threads[i].id)%>

      <% } %>
    </div>

    <div id="navLinksBottom">
      [<a href="/<%=board%>/katalog">Katalog</a>]
      [<a href="/<%=board%>/arhiva">Arhiva</a>]
      [<a href="#navLinksTop">Top</a>]
      [<a href="/<%=board%>">Update</a>]
    </div>

    <div id="pagelist">
      <%if(pagenum != 1){%>
      <a href="/<%=board%>/<%=parseInt(pagenum)-1%>"> < </a>
      <%}%>
      <% for (let i = 1; i < 11; i++) { %>
      <a href="/<%=board%>/<%=i%>">
        <%if(i == pagenum){%>
        <b><%=i%></b>
        <%}else{%>
        <%=i%>
        <%}%>
      </a>
      <% } %>
      <%if(pagenum != 10){%>
      <a href="/<%=board%>/<%=parseInt(pagenum)+1%>"> > </a>
      <%}%>
    </div>

    <div class="navbar"><span class="boardList"> / <a href="/b" class="navbar_anchor">b</a> / <a href="/lit" class="navbar_anchor">lit</a> / <a href="/his" class="navbar_anchor">his</a> / <a href="/mu" class="navbar_anchor">mu</a> / <a href="/pol" class="navbar_anchor">pol</a> / </span> <span class="navbarRight">[<a id="delete2" class="navbar_anchor">Delete</a>] [<a class="navbar_anchor optionsLink">Options</a>]</span> </div>

    <script>

      let colored = false;
      function hoverpreview(anchor){
        console.log(anchor.innerHTML);
        let targetID = parseInt(anchor.innerHTML.match(/\d+/)[0]);
        let targetDiv = document.getElementById(targetID);

        let isHidden = targetDiv.dataset.hidden;

        let bounding = targetDiv.getBoundingClientRect();
        // Check if the element is in the viewport


        /*  MOZDA   OVO   DORADITI  JEDNOM  */
        //console.log(targetDiv.parentElement.parentElement.getAttribute('data-expanded'))

        if (
          bounding.top >= 0 &&
          bounding.left >= 0 &&
          bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          bounding.right <= (window.innerWidth || document.documentElement.clientWidth)
                && isHidden !== "true"
        ) {
          // If the element is in the viewport, change its background color to red
          targetDiv.style.backgroundColor = "#892523";
          colored = true;
        } else {
          colored = false;

          let previewDiv = targetDiv.cloneNode(true);
          previewDiv.style.left =  anchor.offsetLeft + 50 + "px";
          if(window.innerHeight < anchor.offsetTop - scrollY + targetDiv.clientHeight){
            previewDiv.style.top = anchor.offsetTop - (anchor.offsetTop - scrollY + targetDiv.clientHeight - window.innerHeight) +"px";
          }
          else{
            previewDiv.style.top = anchor.offsetTop +"px";
          }
          previewDiv.style.position = "absolute";
          previewDiv.style.backgroundColor = "#3C3C3C"

          previewDiv.removeAttribute('id');
          document.body.appendChild(previewDiv);

          // Remove preview div when mouse leaves
          anchor.addEventListener('mouseleave', function() {
            console.log('tu smo');
            console.log(previewDiv.parentNode)
            previewDiv.parentNode.removeChild(previewDiv);
          });
        }
      }


      function hoverleave(anchor){
        let targetID = parseInt(anchor.innerHTML.match(/\d+/)[0]);
        let targetDiv = document.getElementById(targetID);
        if(colored) {
          if(targetDiv.className.includes("opThread")){
            targetDiv.style.backgroundColor = "";
          }
          else{
            targetDiv.style.backgroundColor = "#3C3C3C";
          }
        }
      }

/*
        const regex = /&gt;&gt;(\d+)/g; // Regular expression to match the pattern `>>(number)`
        const replacement = `<a href="/b/${RepliesToIdsMap.get(parseInt($1))}#$1">>>$1</a>`;
        const pageContent = document.body.innerHTML;
        const newContent = pageContent.replace(regex, replacement);
        document.body.innerHTML = newContent;
*/

      let RepliesToIdsMap = new Map(JSON.parse('<%- JSON.stringify(Array.from(RepliesToIds.entries())) %>'));
      const regex = /&gt;&gt;(\d+)/g; // Regular expression to match the pattern `>>(number)`
      const pageContent = document.body.innerHTML;


      // Use a function to generate the replacement string dynamically
      const newContent = pageContent.replace(regex, function(match, p1) {
        const id = parseInt(p1);
        const target = RepliesToIdsMap.get(id);

        if(target === id){
          return `<a href="/b/thread/${target}#${id}" onmouseover="hoverpreview(this)" onmouseleave="hoverleave(this)">>>${id}(OP)</a>`;
        }
        else return `<a href="/b/thread/${target}#${id}" onmouseover="hoverpreview(this)" onmouseleave="hoverleave(this)">>>${id}</a>`;
      });

      document.body.innerHTML = newContent;

    </script>

    <!--<script src="/javascripts/reply_form.js"></script>-->
    <script src="/javascripts/enlargeImage.js"></script>
    <script src="/javascripts/delete.js"></script>
    <script src="/javascripts/options.js"></script>
    <script src="/javascripts/post_form.js"></script>
    <script src="/javascripts/security_form_check.js"></script>
    <script src="/javascripts/showReplies.js"></script>
  </body>
</html>
