<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/classic.css'/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <form action="/b/post" method="post" enctype="multipart/form-data">
      <table>
        <tbody>
          <tr>
            <td class="labels">
              Username
            </td>
            <td>
              <input name="username" id="username" type="text">
            </td>
          </tr>
          <tr>
            <td class="labels">
              Tema
            </td>
            <td>
              <input name="topic" id="topic" type="text">
              <button type="submit">Objavi</button>
            </td>
          </tr>
          <tr>
            <td class="labels">
              Tekst
            </td>
            <td style="display: flex; flex-wrap: wrap; flex-direction: column;">
              <textarea name="text" id="text" cols="36" rows="4" wrap="soft"></textarea>
              <!--<span id="textareaErrorMessage"></span>-->
            </td>
          </tr>
          <tr>
            <td class="labels">
              File
            </td>
            <td>
              <input name="uploaded_file" id="file" type="file">
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    <!--Stao sam ovde-->

    <div id="threads">


      <%let repliesNumber = replies.length;%>
      <%let RepliesToIds = new Map();%>


      <% for (let i = 0; i < threads.length; i++) { %>
      <!--Bilo je id="thread(ovaj kod sa [i])! Pazi!-->
      <div id="thread<%=threads[i].id%>" class="thread" data-expanded="false">
        <div id="<%=threads[i].id%>" style="border: 5px solid chartreuse">
          <input type="checkbox" id="ch<%=threads[i].id%>" value="t-<%=threads[i].id%>">
          <img alt class="thumbnail" width="105" height="150" src="/images/<%=threads[i].image_link%>">
          <a href="/<%=threads[i].board%>/thread/<%=threads[i].id%>"><%=threads[i].id%></a>
          <b><%=threads[i].thread_topic%> </b><%=threads[i].text%>
        </div>
        <%let matchingReplies = replies.filter(reply => reply.post_id === threads[i].id);%>
        <%if(matchingReplies.length > 5) {%>
          <b class="expand" onclick="showReplies(this)">x</b>
        <%}%>
        <div class="thread_replies_minus_five">
          <%
            let num_of_last_replies;
            switch (matchingReplies.length - 5) {
              case -5:
                num_of_last_replies = 0;
                break;
              case -4:
                num_of_last_replies = 1;
                break;
              case -3:
                num_of_last_replies = 2;
                break;
              case -2:
                num_of_last_replies = 3;
                break;
              case -1:
                num_of_last_replies = 4;
                break;
              default:
                num_of_last_replies = 5;
                break
            }
          %>

          <%for (let j = 0; j < matchingReplies.length-num_of_last_replies; j++) {%>
            <div id="<%= matchingReplies[j].id %>" class="thread_reply" data-hidden="true">
              <input type="checkbox" id="ch<%=matchingReplies[j].id%>" value="<%=matchingReplies[j].id%>" data-cookie="<%=matchingReplies[j].cookie%>">

              <!--<a href="/<%=threads[i].board%>/thread/<%=threads[i].id%>#<%=matchingReplies[j].id%>"><%=matchingReplies[j].id%></a>-->

              <span id="reply_username<%=matchingReplies[j].id%>"><b><%=matchingReplies[j].username%></b> <%if(matchingReplies[j].tripcode != null){%><%='!' + matchingReplies[j].tripcode%><%}%></span>
              <span id="reply_time<%=matchingReplies[j].id%>"><%=matchingReplies[j].created_at %></span>
              <a id="reply_id<%=matchingReplies[j].id%>" data-id="<%=matchingReplies[j].id%>" onclick="formPopUp(this)"><%=matchingReplies[j].id%></a>
              <pre id="reply_text<%=i%>"><%=matchingReplies[j].text%></pre>

              <%RepliesToIds.set(matchingReplies[j].id,threads[i].id)%>

            </div>
          <%}%>
        </div>
        <div class="last_five">
          <%for (let j = matchingReplies.length-num_of_last_replies; j < matchingReplies.length; j++) {%>
          <div id="<%= matchingReplies[j].id %>"  class="thread_reply">
            <input type="checkbox" id="ch<%=matchingReplies[j].id%>" value="<%=matchingReplies[j].id%>" data-cookie="<%=matchingReplies[j].cookie%>">

            <!--<a href="/<%=threads[i].board%>/thread/<%=threads[i].id%>#<%=matchingReplies[j].id%>"><%=matchingReplies[j].id%></a>-->

            <span id="reply_username<%=matchingReplies[j].id%>"><b><%=matchingReplies[j].username%></b> <%if(matchingReplies[j].tripcode != null){%><%='!' + matchingReplies[j].tripcode%><%}%></span>
            <span id="reply_time<%=matchingReplies[j].id%>"><%=matchingReplies[j].created_at %></span>
            <a id="reply_id<%=matchingReplies[j].id%>" data-id="<%=matchingReplies[j].id%>" onclick="formPopUp(this)"><%=matchingReplies[j].id%></a>
            <pre id="reply_text<%=i%>"><%=matchingReplies[j].text%></pre>

            <%RepliesToIds.set(matchingReplies[j].id,threads[i].id)%>

          </div>
          <%}%>
        </div>
      </div>

      <%RepliesToIds.set(threads[i].id,threads[i].id)%>

      <% } %>
    </div>



    <a id="OptionsLink">Options</a>
    <br>
    <div id="pagelist">
      <%if(pagenum != 1){%>
        <a href="/<%=board%>/<%=parseInt(pagenum)-1%>"> < </a>
      <%}%>
      <% for (let i = 1; i < 11; i++) { %>
      <a href="/<%=board%>/<%=i%>">
        <%if(i == pagenum){%>
          <b><%=i%></b>
        <%}else{%>
          <%=i%>
        <%}%>
      </a>
      <% } %>
      <%if(pagenum != 10){%>
        <a href="/<%=board%>/<%=parseInt(pagenum)+1%>"> > </a>
      <%}%>
    </div>



    <script>

      let colored = false;
      function hoverpreview(anchor){
        console.log(anchor.innerHTML);
        let targetID = parseInt(anchor.innerHTML.match(/\d+/)[0]);
        let targetDiv = document.getElementById(targetID);

        console.log(targetID)
        console.log(targetDiv);
        let isHidden = targetDiv.dataset.hidden;

        let bounding = targetDiv.getBoundingClientRect();
        // Check if the element is in the viewport


        /*  MOZDA   OVO   DORADITI  JEDNOM  */
        //console.log(targetDiv.parentElement.parentElement.getAttribute('data-expanded'))

        if (
          bounding.top >= 0 &&
          bounding.left >= 0 &&
          bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          bounding.right <= (window.innerWidth || document.documentElement.clientWidth)
                && isHidden !== "true"
        ) {
          // If the element is in the viewport, change its background color to red
          targetDiv.style.backgroundColor = "red";
          colored = true;
        } else {
          console.log('u elsu')
          colored = false;

          let previewDiv = targetDiv.cloneNode(true);
          previewDiv.style.left =  anchor.offsetLeft + 50 + "px";
          previewDiv.style.top = anchor.offsetTop +"px";
          previewDiv.style.position = "absolute";

          previewDiv.removeAttribute('id');
          document.body.appendChild(previewDiv);

          // Remove preview div when mouse leaves
          anchor.addEventListener('mouseleave', function() {
            console.log('tu smo');
            console.log(previewDiv.parentNode)
            previewDiv.parentNode.removeChild(previewDiv);
          });
        }
      }


      function hoverleave(anchor){
        console.log(anchor.innerHTML)
        let targetID = parseInt(anchor.innerHTML.match(/\d+/)[0]);
        let targetDiv = document.getElementById(targetID);
        if(colored) targetDiv.style.backgroundColor = "white";
      }

/*
        const regex = /&gt;&gt;(\d+)/g; // Regular expression to match the pattern `>>(number)`
        const replacement = `<a href="/b/${RepliesToIdsMap.get(parseInt($1))}#$1">>>$1</a>`;
        const pageContent = document.body.innerHTML;
        const newContent = pageContent.replace(regex, replacement);
        document.body.innerHTML = newContent;
*/

      let RepliesToIdsMap = new Map(JSON.parse('<%- JSON.stringify(Array.from(RepliesToIds.entries())) %>'));
      const regex = /&gt;&gt;(\d+)/g; // Regular expression to match the pattern `>>(number)`
      const pageContent = document.body.innerHTML;

      // Use a function to generate the replacement string dynamically
      const newContent = pageContent.replace(regex, function(match, p1) {
        const id = parseInt(p1);
        const target = RepliesToIdsMap.get(id);

        if(target === id){
          return `<a href="/b/thread/${target}#${id}" onmouseover="hoverpreview(this)" onmouseleave="hoverleave(this)">>>${id}(OP)</a>`;
        }
        else return `<a href="/b/thread/${target}#${id}" onmouseover="hoverpreview(this)" onmouseleave="hoverleave(this)">>>${id}</a>`;
      });

      document.body.innerHTML = newContent;

    </script>


    <a id="delete">Delete</a>

    <!--<script src="/javascripts/reply_form.js"></script>-->
    <script src="/javascripts/delete.js"></script>
    <script src="/javascripts/options.js"></script>
    <script src="/javascripts/security_form_check.js"></script>
    <script src="/javascripts/showReplies.js"></script>
  </body>
</html>
