<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/classic.css'/>
  </head>
  <body>
    <form action="/b/post" method="post" enctype="multipart/form-data">
      <table>
        <tbody>
          <tr>
            <td class="labels">
              Username
            </td>
            <td>
              <input name="username" id="username" type="text">
            </td>
          </tr>
          <tr>
            <td class="labels">
              Tema
            </td>
            <td>
              <input name="topic" id="topic" type="text">
              <button type="submit">Objavi</button>
            </td>
          </tr>
          <tr>
            <td class="labels">
              Tekst
            </td>
            <td style="display: flex; flex-wrap: wrap; flex-direction: column;">
              <textarea name="text" id="text" cols="36" rows="4" wrap="soft"></textarea>
              <!--<span id="textareaErrorMessage"></span>-->
            </td>
          </tr>
          <tr>
            <td class="labels">
              File
            </td>
            <td>
              <input name="uploaded_file" id="file" type="file">
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    <!--Stao sam ovde-->

    <div id="threads">
      <% for (let i = 0; i < threads.length; i++) { %>
      <div class="thread">
        <img alt class="thumbnail" width="105" height="150" src="/images/<%=threads[i].image_link%>">
        <a href="/<%=threads[i].board%>/thread/<%=threads[i].id%>"><%=threads[i].id%></a>
        <b><%=threads[i].thread_topic%> </b><%=threads[i].text%>
        <b class="expand">x</b>
        <%let matchingReplies = replies.filter(reply => reply.post_id === threads[i].id);%>
        <%for (let j = 0; j < matchingReplies.length; j++) {%>
          <div class="thread_reply">
            <a href="/<%=threads[i].board%>/thread/<%=threads[i].id%>#<%=matchingReplies[j].id%>"><%=matchingReplies[j].id%></a>
            <%=matchingReplies[j].text%>
          </div>
        <%}%>
      </div>
      <% } %>
    </div>



    <a id="OptionsLink">Options</a>
    <br>
    <div id="pagelist">
      <%if(pagenum != 1){%>
        <a href="/<%=board%>/<%=parseInt(pagenum)-1%>"> < </a>
      <%}%>
      <% for (let i = 1; i < 11; i++) { %>
      <a href="/<%=board%>/<%=i%>">
        <%if(i == pagenum){%>
          <b><%=i%></b>
        <%}else{%>
          <%=i%>
        <%}%>
      </a>
      <% } %>
      <%if(pagenum != 10){%>
        <a href="/<%=board%>/<%=parseInt(pagenum)+1%>"> > </a>
      <%}%>
    </div>

    <script src="/javascripts/options.js"></script>
    <script src="../javascripts/security_form_check.js"></script>
  </body>
</html>
