<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  <div class="navbar"><span class="boardList"> / <a href="/b" class="navbar_anchor">b</a> / <a href="/lit" class="navbar_anchor">lit</a> / <a href="/his" class="navbar_anchor">his</a> / <a href="/mu" class="navbar_anchor">mu</a> / <a href="/pol" class="navbar_anchor">pol</a> / </span> <span class="navbarRight">[<a class="navbar_anchor optionsLink">Options</a>]</span> </div>
  <div class="boardBanner">
    <img alt="Jugochan" src="/images/JugochanBanner.png" class="JugochanBanner">
  </div>

  <div class="landing">
    <div class="description">
      <h1>Jugochan</h1>
      <p>Jugochan je imageboard za ex-yu prostore i sve one koji pričaju i razumiju ovaj jezik.</p>
      <span>U raspolaganju trenutno serviramo ove boardove:</span>
      <span class="boards">
        [<a href="/b">/b/ - Općenito</a>]
        [<a href="/lit">/lit/ - Literatura</a>]
        [<a href="/his">/his/ - Historija</a>]
        [<a href="/mu">/mu/ - Muzika</a>]
        [<a href="/pol">/pol/ - Politika</a>]
      </span>
      <div class="newThreads">
        <span>Aktivni ili novi threadovi:</span>
        <div id="threads">
          <%for(let i = 0; i < threads.length; i++){%>
          <%console.log('aaaaaa')%>
            <div class="thread">
              <a class="onBoard" href="/<%=threads[i].board%>">/<%=threads[i].board%>/</a>
              <a href="/<%=threads[i].board%>/thread/<%=threads[i].id%>"><img alt class="thumbnail" src="/images/<%=threads[i].image_link%>"></a>
              <div class="teaser"><b><%=threads[i].thread_topic%> </b><%=threads[i].text%></div>
            </div>
          <%}%>
        </div>
        </div>
    </div>
  </div>

  <div class="navbar bottomNavbar"><span class="boardList"> / <a href="/b" class="navbar_anchor">b</a> / <a href="/lit" class="navbar_anchor">lit</a> / <a href="/his" class="navbar_anchor">his</a> / <a href="/mu" class="navbar_anchor">mu</a> / <a href="/pol" class="navbar_anchor">pol</a> / </span> <span class="navbarRight">[<a class="navbar_anchor optionsLink">Options</a>]</span> </div>
  <script src="/javascripts/options.js"></script>
  </body>
</html>
