<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/thread.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
  <%let repliesNumber = replies.length;%>

    <div class="navbar"><span class="boardList"> / <a href="/b" class="navbar_anchor">b</a> / <a href="/lit" class="navbar_anchor">lit</a> / <a href="/his" class="navbar_anchor">his</a> / <a href="/mu" class="navbar_anchor">mu</a> / <a href="/pol" class="navbar_anchor">pol</a> / </span> <span class="navbarRight">[<a id="delete1" class="navbar_anchor">Obriši</a>] [<a class="navbar_anchor optionsLink">Opcije</a>]</span> </div>

    <div class="boardBanner">
      <img alt="Jugochan" src="/images/<%=board%>_banner.jpg" class="boardBannerImage">
      <div class="boardTitle">
        <%
        let board_title;
        switch (board) {
          case 'b':
            board_title = '/b/ - Općenito';
            break;
          case 'his':
            board_title = '/his/ - Historija';
            break;
          case 'lit':
            board_title = '/lit/ - Literatura';
            break;
          case 'mu':
            board_title = '/mu/ - Muzika';
            break;
          case 'pol':
            board_title = '/pol/ - Politika';
            break;
        }%>
        <%=board_title%>
      </div>
    </div>

    <%if(thread.archived !== true){%>
      <div id="togglePostFormLink">
          <span id="replyLinkSpan"> [ <a id="reply_link">Odgovori</a> ] </span>
          <form id="reply_form" action="/<%=board%>/reply" method="post" enctype="multipart/form-data">
            <input name="thread_id" type="hidden" value="<%=thread.id%>">
            <table>
              <tbody>
              <tr>
                <td class="labels">
                  Username
                </td>
                <td>
                  <input id="username" name="username" type="text">
                  <button type="submit">Objavi</button>
                </td>
              </tr>
              <tr>
                <td class="labels">
                  Tekst
                </td>
                <td style="display: flex; flex-wrap: wrap; flex-direction: column;">
                  <textarea name="text" id="text" cols="36" rows="4" wrap="soft"></textarea>
                </td>
              </tr>
              <tr>
                <td class="labels">
                  File
                </td>
                <td>
                  <input name="uploaded_file" id="file" type="file">
                </td>
              </tr>
              </tbody>
            </table>
          </form>
        </div>
    <%}else{%>
      <h1 class="arhiviranHeader">
        <span>Thread je arhiviran.</span>
        <span>Ne možeš da daješ komentare.</span>
      </h1>
    <%}%>

    <div id="navLinksTop">
      [<a href="/<%=board%>">Nazad</a>]
      [<a href="/<%=board%>/katalog">Katalog</a>]
      [<a href="#navLinksBottom">Dno</a>]
      <%if(thread.archived !== true){%>
      [<a href="/<%=board%>/thread/<%=thread.id%>">Osvježi</a>]
      <%}%>
    </div>

    <div id="thread">
    <div id="<%=thread.id%>" class="opThread post_div">
        <div class="file">
          <div class="fileText">
            File:  <a href="/image/<%=thread.image_link%>" target="_blank"><%=thread.image_link%></a>
          </div>
          <a href="/image/<%=thread.image_link%>" target ="_blank" onclick="return handleClick(event)">
            <img alt onclick="toggleImageSize(this)" class="imageBeforeClick threadImage" src="/images/<%=thread.image_link%>">
          </a>
        </div>

          <input type="checkbox" id="ch<%=thread.id%>" value="t-<%=thread.id%>">
        <span id="thread_subject"><%=thread.thread_topic %> </span>
        <span class="post_username"><b><%=thread.username%></b> <%if(thread.tripcode != null){%><%='!' + thread.tripcode%><%}%></span>
        <%
        let dateObj = new Date(thread.created_at);
        let dayOfWeek = dateObj.toLocaleString("en-US", { weekday: "long" });
        let formattedDateTime = dateObj.toLocaleString("en-US", {
          year: "numeric",
          month: "2-digit",
          day: "2-digit",
          hour: "2-digit",
          minute: "2-digit",
          second: "2-digit"
        }) + ` (${dayOfWeek})`;
        %>
        <span class="post_time"><%=formattedDateTime %></span>
        <a class="post_id" id="thread_id" data-id="<%=thread.id%>" onclick="formPopUp(this)">No. <%=thread.id%></a>
        <span id="tags<%=thread.id%>" class="allTags"></span>
        <blockquote class="postMessage"><%-quoteText(thread.text)%></blockquote>
      </div>

       <% for (let i = 0; i < replies.length; i++) { %>
          <div id="<%= replies[i].id %>" class="post_div reply_div">
            <%if(replies[i].image_link != null){%>
            <div class="file">
              <div class="fileText">
                File:  <a href="/image/<%=replies[i].image_link%>" target="_blank"><%=replies[i].image_link%></a>
              </div>
              <a href="/image/<%=replies[i].image_link%>" target ="_blank" onclick="return handleClick(event)">
                <img alt onclick="toggleImageSize(this)" class="imageBeforeClick" src="/images/<%=replies[i].image_link%>">
              </a>
            </div>
            <%}%>
            <input type="checkbox" id="ch<%=replies[i].id%>" value="<%=replies[i].id%>" data-cookie="<%=replies[i].cookie%>">
            <%if(replies[i].username){%>
            <span id="reply_username<%=replies[i].id%>" class="post_username"><b><%=replies[i].username%></b> <%if(replies[i].tripcode != null){%><%='!' + replies[i].tripcode%><%}%></span>
            <%}else{%>
            <span id="reply_username<%=replies[i].id%>" class="post_username"><b>Anoniman</b> <%if(replies[i].tripcode != null){%><%='!' + replies[i].tripcode%><%}%></span>
            <%}%>
            <%
              let dateObj = new Date(replies[i].created_at);
              let dayOfWeek = dateObj.toLocaleString("en-US", { weekday: "long" });
              let formattedDateTime = dateObj.toLocaleString("en-US", {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
                hour: "2-digit",
                minute: "2-digit",
                second: "2-digit"
              }) + ` (${dayOfWeek})`;
            %>
            <span class="post_time"><%=formattedDateTime %></span>
            <a class="post_id" data-id="<%=replies[i].id%>" onclick="formPopUp(this)">No. <%=replies[i].id%></a>
            <span id="tags<%=replies[i].id%>" class="allTags"></span>
            <blockquote id="reply_text<%=i%>" class="postMessage"><%-quoteText(replies[i].text)%></blockquote>
          </div>
        <% } %>
    </div>

    <div id="navLinksBottom">
      [<a href="/<%=board%>">Nazad</a>]
      [<a href="/<%=board%>/katalog">Katalog</a>]
      [<a href="#navLinksTop">Vrh</a>]
      <%if(thread.archived !== true){%>
      [<a id="delete2">Obriši</a>]
      <%}%>
    </div>

    <%if(thread.archived !== true){%>
      <form id="floating_reply_form" class="draggable" action="/<%=board%>/reply" method="post" enctype="multipart/form-data">
        <div id="draggable_header">Odgovori <img id="draggable_header_x" style="float: right" alt="X" src="/images/cross.png"></div>
        <input name="thread_id" type="hidden" value="<%=thread.id%>">
        <table>
          <tbody>
            <tr>
              <td>
                <input name="username" id="floating_username" type="text" placeholder="Username">
              </td>
            </tr>
            <tr>
              <td style="display: flex; flex-wrap: wrap; flex-direction: column;">
                <textarea name="text" id="floating_text" cols="36" rows="4" wrap="soft" placeholder="Tekst"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <input name="uploaded_file" id="file" type="file" style="width: 180px">
          <button id="floating_submit" type="submit" style="width: 75px; height: 21px; float: right">Objavi</button>
        </div>
      </form>
    <div id="bottom">
      <span id="replyLinkSpanBottom"> [ <a id="floating_reply_bottom">Odgovori</a> ] </span>
    </div>
    <%}%>

    <div class="navbar"><span class="boardList"> / <a href="/b" class="navbar_anchor">b</a> / <a href="/lit" class="navbar_anchor">lit</a> / <a href="/his" class="navbar_anchor">his</a> / <a href="/mu" class="navbar_anchor">mu</a> / <a href="/pol" class="navbar_anchor">pol</a> / </span> <span class="navbarRight">[<a id="delete2" class="navbar_anchor">Obriši</a>] [<a class="navbar_anchor optionsLink">Opcije</a>]</span> </div>

  <%
  function quoteText(text) {
    const regexQ = /(^|[^>])>(?!>)((?:.(?!>>))+)/g;
    let returnedText = text.replace(regexQ, '$1<span class="quote">>$2</span>');

    let regex = />>(\d+)/g;
    let matches = returnedText.match(regex)
    if (matches === null) return returnedText;
    let tags = matches.map(match => match.replace(/>>/g, ''));
    let specificEx;

    for(let i = 0; i < tags.length; i++){
      specificEx = new RegExp(">>(" + tags[i] + ")", "g");

      let replyObj = replies.find(reply => reply.id == tags[i]);
      let replySession = replyObj ? replyObj.cookie : null;

      if(tags[i] == thread.id){
        returnedText = returnedText.replace(specificEx, `<a onmouseover="hoverpreview(this)" onmouseleave="hoverleave(this)" onclick="jump(this)" href="#$1">>>$1(OP)</a>`)
      }
      else if(browser_cookie === replySession){
        returnedText = returnedText.replace(specificEx, '<a onmouseover="hoverpreview(this)" onmouseleave="hoverleave(this)" onclick="jump(this)" href="#$1">>>$1(Ti)</a>')
      }
      else{
        returnedText = returnedText.replace(specificEx, '<a onmouseover="hoverpreview(this)" onmouseleave="hoverleave(this)" onclick="jump(this)" href="#$1">>>$1</a>')
      }
    }
    return returnedText;
  }
  %>

  <script>
      let colored = false;
      let currentlyColored = null;
      function hoverpreview(anchor){
        let targetID = parseInt(anchor.innerHTML.match(/\d+/)[0]);
        let targetDiv = document.getElementById(targetID);
        let bounding = targetDiv.getBoundingClientRect();
        if (
          bounding.top >= 0 &&
          bounding.left >= 0 &&
          bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          bounding.right <= (window.innerWidth || document.documentElement.clientWidth)
        ) {
          targetDiv.style.backgroundColor = "#892523";
          colored = true;
        } else {
          colored = false;
          let previewDiv = targetDiv.cloneNode(true);
          previewDiv.style.left =  anchor.offsetLeft + 50 + "px";
          if(window.innerHeight < anchor.offsetTop - scrollY + targetDiv.clientHeight){
            previewDiv.style.top = anchor.offsetTop - (anchor.offsetTop - scrollY + targetDiv.clientHeight - window.innerHeight) +"px";
          }
          else{
            previewDiv.style.top = anchor.offsetTop +"px";
          }
          previewDiv.style.position = "absolute";
          previewDiv.style.backgroundColor = "#3C3C3C"
          previewDiv.removeAttribute('id');
          document.body.appendChild(previewDiv);
          anchor.addEventListener('mouseleave', function() {
            console.log('tu smo');
            previewDiv.parentNode.removeChild(previewDiv);
          });
        }
      }
      function hoverleave(anchor){
        let targetID = parseInt(anchor.innerHTML.match(/\d+/)[0]);
        let targetDiv = document.getElementById(targetID);
        if(colored && targetDiv !== currentlyColored) {
          if(targetDiv.className.includes("opThread")){
            targetDiv.style.backgroundColor = "";
          }
          else{
            targetDiv.style.backgroundColor = "#3C3C3C";
          }
        }
      }

      function jump(anchor){
        if(currentlyColored != null){
          if(currentlyColored.className.includes("opThread")){
            currentlyColored.style.backgroundColor = "";
          }
          else{
            currentlyColored.style.backgroundColor = "#3C3C3C";
          }
        }
        let targetID = parseInt(anchor.innerHTML.match(/\d+/)[0]);
        let targetDiv = document.getElementById(targetID);
        targetDiv.style.backgroundColor = "#892523"
        currentlyColored = targetDiv;
      }

      let repliesNumberS;
      repliesNumberS = '<%=repliesNumber%>';

      for(let i = 0; i < repliesNumberS; i++){
        let replyBody = document.getElementById('reply_text' + i);
        let replyText = replyBody.innerText;
        let regex = />>(\d+)/g;
        let matches = replyText.match(regex)
        if (matches === null) continue;
        let tags = matches.map(match => match.replace(/>>/g, ''));

        for(let j = 0; j < tags.length; j++){
          let forTags = document.getElementById('tags' + tags[j]);
          forTags.innerHTML = forTags.innerHTML + `<a onmouseover="hoverpreview(this)" onmouseleave="hoverleave(this)" onclick="jump(this)" href="#${replyBody.parentElement.id}">>>${replyBody.parentElement.id}</a>  `
        }
      }
    </script>
    <script src="/javascripts/enlargeImage.js"></script>
    <script src="/javascripts/options.js"></script>
    <script src="/javascripts/delete.js"></script>
    <script src="/javascripts/reply_form.js"></script>
    <script src="/javascripts/security_form_check.js"></script>
  </body>
</html>
